* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  background-color: #FF9A4B;
  height: 50px;
  width: 100%;
}

.contents{
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.content{
  width: 300px;
  background-color: lightgray;
  margin: 50px 30px 50px 0;
  padding: 10px;
  position: relative;
}

.content:last-child{
  margin-right: 0;
}

.step{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF9A4B;
  color: white;
}

.img1{
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: bottom center;
}
.img2{
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: bottom center;
}
.img3{
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.footer{
  background-color: #AAAAAA;
  height: 50px;
  width: 100%;
}

@media screen and (max-width: 768px) {
main{
  width: 100%;
}
.contents{
  width: 100%;
  display: block;
  margin: 50px auto;
}

.content{
  margin:0 auto;
  width: 90%;
}
.content:first-child,
.content:nth-of-type(2){
  margin-bottom:20px;
}
.content:last-child{
  margin: 0 auto 0 auto;
}

}